

.main{

    display: flex;
    justify-content: space-around;
    margin-top: 30vh;

}


.left{

    margin-left: 40vh;


}


.right{

        margin-right: 55vh;


}

.image{

    height:35vh;
    width:35vh;

  

  animation-name: floating;
  animation-duration: 5s; 
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

@keyframes floating {


    0% {
        transform: translateY(0); 
      }
      50% {
        transform: translateY(40px);
      }
      100% {
        transform: translateY(0);
      }
  }


.heading{

    font-size: 7vh;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-weight: bolder;
}

.text{
    font-size: 3vh;
    color:white;
    font-style: italic;
}





/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}



